@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@keyframes release-button-click-bounce {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1.035);
  }
  100% {
    transform: scale(1);
  }
}

@theme {
  --color-*: initial;

  --color-primary: #f86060;
  --color-accent: #fc8468;
  --color-secondary: #ffa770;

  --color-white: #ffffff;
  --color-black: #000000;

  --color-title: #272221;
  --color-subtitle: #403937;
  --color-text: #574f4d;
  --color-description: #8c8c8c;
  --color-navbar-menu: #b0b0b0;

  --color-bg: #fffdfa;

  --color-danger: #ec6b6a;

  --animate-click: release-button-click-bounce 400ms ease;

  --shadow-navbar-menu: 0px 4px 12px rgba(90, 90, 90, 0.12);
  --shadow-card: 0px 4px 12px rgba(70, 70, 70, 0.4);
  --drop-shadow-logo: 0px 0px 2px rgba(0, 0, 0, 0.2);
  --color-shadow-smooth: #b0b0b01a;

  --font-logo: "Bricolage Grotesque", sans-serif;
  --font-default: "DM Sans", "Inter", "sans-serif";

  --breakpoint-3xl: 120rem;

  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  /* ... */
}

/* esconde scrollbar mas mantém scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE e Edge */
  scrollbar-width: none; /* Firefox */
}

@theme inline {
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
}